.nav {
    grid-area: n;
    background-color: burlywood;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item {
    color: white;
    list-style: none;
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: white;
}

.active {
    color: gold;
    list-style: none;
    text-decoration: none;
}
